{{>layout/header}}

<h1>글 번호 : {{posts.id}}</h1>
<h1>제목 : {{posts.title}}</h1>
<br><br><br>
<p> 글쓴이 : {{posts.author}}</p>
<p> 본문 : {{posts.content}}</p>

<form>
    <input type="hidden" id="id" value="{{posts.id}}">
</form>
    <br><br><br><br>
    {{#reply}}
        <p> 댓글 글쓴이 : {{reply_name}}</p>
        <p> 댓글 내용 : {{reply_content}}</p>
        <button id="reply-delete">삭제하기</button>
        <input type="hidden" id="reply_id" value="{{id}}">
    {{/reply}}


<button type="button" class="btn btn-primary" onclick="window.location.href = '/blog/update/{{id}}'">수정하기</button>
<button type="button" class="btn btn-danger" id="btn-delete">삭제하기</button>
<div id = "reply-name"></div>
<div id="reply-content"></div>
{{>layout/replyform}}
{{>layout/footer}}